<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Elevation="0" class="px-4 pb-6">
            <MudText Typo="Typo.h6" Style="@($"color:{Colors.Grey.Lighten1}")">Dados da Cor</MudText>
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudColorPicker @bind-Text="Colour.Value" DisableToolbar DisableAlpha DisableInputs
                                PickerVariant="PickerVariant.Static" />
                <MudTextField T="string" Label="Cor" @bind-Value="Colour.Value" Required="true"
                              RequiredError="Código da cor é obrigatório!" />
                <MudTextField T="string" Label="Nome" @bind-Value="Colour.Name" Required="true"
                              RequiredError="Nome é obrigatório!" />
            </MudForm>
            <div class="mt-4 d-flex justify-end flex-grow-1  gap-2">
                <MudButton Variant="Variant.Outlined" Color="Color.Secondary" DisableElevation="true"
                           OnClick="@(()=>_navigationManager.NavigateTo(Routes.COLOURS))" Class="mx-2">
                    Voltar
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true"
                           OnClick="@(async ()=> await SaveAsync())" Disabled="_isProcessing">Salvar</MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full rounded-0 border-l-2 border-solid"
                  Style="@($"border-color:{Colors.Grey.Lighten1}")" Elevation="0">
            <MudAlert Severity="Severity.Info" Class="mt-2">Os campos com * são obrigatórios</MudAlert>
            @foreach (var error in errors)
            {
                <MudAlert Severity="Severity.Error" Class="mt-2">@error</MudAlert>
            }
        </MudPaper>
    </MudItem>
</MudGrid>